[Unit]
Description=Check for failed systemd services

[Service]
Type=oneshot
ExecStart=/bin/bash %h/.dotfiles/misc/service_notify/check-failed-services.sh
